/*universal font declaration */ 
* {
  font-family: Georgia;
}
/* header 1 color and font size */
h1 {
  color: Blue;
  background-color: tan;
  font-size: 36 px; 
}
/* website link color */
a {
  color: SeaGreen;
  text-decoration: none;
}

img {
  border-radius: 100%;
}
