/*universal font declaration */ 
* {
  font-family: 'Playfair Display', sans-serif;
}
/* you can change word spacing using word-spacing */
h1 {
  font-family: "Georgia";
  color: RGB(2, 93, 140);
  color: RGBa(2, 93, 140, 0.9);
  background-color: AliceBlue;
  font-size: 36 px; 
  text-align: center;
}
/* if a font is not available for a user, setting fallback fonts is necessary */
p {
  font-family: "Helvetica", Garamond, serif;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: bold;
}
/* website link color */
a {
  color: SeaGreen;
  text-decoration: none;
  font-style: italic;
}

img {
  border-radius: 100%;
}

ul {
  color: Crimson; 
}
