/*universal font declaration */ 
* {
  font-family: 'Playfair Display', sans-serif;
}
/* header 1 color and font size */
h1 {
  font-family: "Georgia";
  color: RGB(2, 93, 140);
  color: RGBa(2, 93, 140, 0.9);
  background-color: AliceBlue;
  font-size: 36 px; 
}
p {
  font-family: "Helvetica"; 
}
/* website link color */
a {
  color: SeaGreen;
  text-decoration: none;
}

img {
  border-radius: 100%;
}

ul {
  color: Crimson; 
}
